header {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 1px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 30px;
}

a {
    color: #e0e0e0;
    text-decoration: none;
}

a:hover {
    color: #757575;
}

body {
    margin-top: 5rem; /* Adjust this value based on the header height */
}

